.modulo2{
    background: url("../res/fondo-mod2.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.gradientes2{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #000000FF 0%, #00000000 30%, #00000000 50%, #000000FF 100%);
    width: 100%;
    height: 100%;
}

.tragamonedas{
    width: 95%;
    height: auto;
    position: absolute;
    margin-top: -3vw;
    margin-left: -21vw;
}

.cartel1-mod2{
    margin-top: 3vw;
    height: 43vw;
}

.info-mod2{
    width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 50vw;
    margin-top: -46.25%;
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 10vw;
    padding-right: 3vw;
}
.info-mod2 p{
    color: #FFFFFF;
    font-size: 1.75vw;
}

.info-mod2-p1{
    margin-bottom:  12vw;
}

.info-mod2-img{
    width: 60%;
    height: auto;
    margin-left: 7.5%;
    margin-top: 0vw;
}

.info-mod2-img2{
    width: 40%;
    height: auto;
    margin-left: 7.5%;
    margin-top: 0vw;
}

.info-mod2-img3{
    width: 30%;
    height: auto;
    margin-left: 7.5%;
    margin-top: 0vw;
}

.manito-mod2{
    position: absolute;
    margin-top: 2vw;
    margin-left: 2vw;
    width: 50%;
    height: auto;
}

.boton-mod2{
    background-color: #00000000;
    border: none;
    width: 3vw;
    height: 14vw;
    position: absolute;
    margin-left: 36%;
    margin-top: 12vw;
}

.tex-palanca-arriba{
    color: #FFFFFF;
    font-size: 1vw;
    position: absolute;
    margin-left: 28vw;
    margin-top: -42vw;
}

.tex-palanca-abajo{
    color: #FFFFFF;
    font-size: 1vw;
    position: absolute;
    margin-left: 28vw;
    margin-top: -5vw;
}

.premio1{
    display: none;
    position: absolute;
    width: 20%;
    margin-left: 15%;
    margin-top: 37vw;
}

.premio2{
    display: none;
    position: absolute;
    width: 30%;
    margin-left: 10%;
    margin-top: 35vw;
}

.grafico{
    width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 40vw;
    margin-top: -46.25%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 10vw;
    padding-right: 0vw;
}

.container-columnas{
    display: flex;
    flex-direction: row;
}

.container-columnas h2{
    color: #FFFFFF;
    font-size: 1.5vw;
}

.columnas{
    display: flex;
    flex-direction: column;
}

.fuente-grafico{
    border-top: 0.5vw #FFFFFF;
    width: 45vw;
    position: absolute;
    margin-top: 35vw;
}

.fuente-grafico p{
    color: #FFFFFF;
    font-size: 1vw;
}

.porcentaje1{
    width: 35%;
    height:auto;
}

.boton-volver2{
    background:  url("../res/flecha-atras.png") no-repeat;
    background-size: cover;
    border: none;
    width: 1vw;
    height: 1.25vw;
    position: absolute;
    margin-left: 2vw;
    margin-top: 1vw;
    z-index: 1;
}

.boton-salir2{
    background:  url("../res/boton-salir.png") no-repeat;
    background-size: cover;
    border: none;
    width: 1.2vw;
    height: 1.65vw;
    position: absolute;
    margin-left: 96vw;
    margin-top: 1vw;
    z-index: 1;
}