.modulo1{
    background: url("../res/fondo-mod1.png") no-repeat;
    background-size: fill;
    /*background: linear-gradient(to bottom, #000000FF 0%, #00000000 10%);
    background: linear-gradient(to bottom, #000000FF 100%, #00000000 90%);*/
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.gradientes1{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #000000FF 0%, #00000000 20%, #00000000 80%, #000000FF 100%);
    width: 100%;
    height: 100%;
}

.instajack{
    width: 45%;
    height: auto;
    margin-left: 8%;
}

.mesa{
    width: 55%;
    height: auto;
    position: absolute;
    margin-top: 12%;
    margin-left: -50%;
}

p.cartel-mod1{
    background-image: url("../res/cuadro-modulo1.png");
    background-size: 100% 100%;
    color: #f5f5f5;
    font-size: 1.5vw;
    width: 37.5%;
    height: auto;
    padding: 1.25vw;
    position: absolute;
    margin-left: 57.5%;
    margin-top: -5%;
}

button.jugar{
    background: url("../res/boton-jugar.png") no-repeat;
    background-size: contain;
    border: none;
    width: 13vw;
    height: 4.75vw;
    text-align: center;
    color: #f5f5f5FF;
    font-size: 1.75vw;
    position: absolute;
    margin-top: 62vh;
    margin-left: 17.5vw;
}

button.jugar:hover{
    color: #F5F5F577;
}

.container-funcionalidades{
    display: flex;
    width: 25%;
    position: absolute;
    margin-top: 8.5vw;
    margin-left: 65%;
}

.boton-func{
    background-size: contain;
    width: 20%;
    height: 5vw;
    margin: 1vw;
    border: none;
}

button.continuar-mod1{
    background: url('../res/boton-continuar.png') no-repeat;
    background-size: contain;
    border: none;
    width: 5vw;
    height: 4vw;
    position: absolute;
    margin-top: 25%;
    margin-left: 40%;
}

button.restart-mod1{
    background: url('../res/boton-reiniciar.png') no-repeat;
    background-size: contain;
    border: none;
    width: 5vw;
    height: 4vw;
    position: absolute;
    margin-top: 25%;
    margin-left: 40%;
}

.boton-volver{
    background:  url("../res/flecha-atras.png") no-repeat;
    background-size: cover;
    border: none;
    width: 1vw;
    height: 1.25vw;
    position: absolute;
    margin-left: 2vw;
}

.boton-salir{
    background:  url("../res/boton-salir.png") no-repeat;
    background-size: cover;
    border: none;
    width: 1.2vw;
    height: 1.65vw;
    position: absolute;
    margin-left: 96vw;
}