.intermedio1{
    width: 100%;
    height: auto;
    margin-top: 0%;
}

.cartelito{
    margin-top: 0%;
    background: url("../res/cartel-casino.png") no-repeat;
    background-size:contain;
    width: 55%;
    height: 30vw;
    margin-left: 25%;
    padding-top: 1.75vw;
}

.cartelito p{
    color: #FFFFFF;
    font-size: 2.2vw;
    margin-left: 3.75vw;
    margin-right: 10.5vw;
}